node_modules
npm-debug.log
vendor
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
tests
.editorconfig
.styleci.yml
docker-compose*.yml
Dockerfile*
docker/
screenshots/